.primary {
	background-color: #BC804A;
}

.secondary {
	background-color: #FFCF97;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #FFCF97;
	margin: 0;
}

button {
	font-size: 20px;
	border: none;
	border-radius: 4px;
}

main {
	flex: 1 0 auto;
	color: #38251F;
}

.collapsible-body,
.collection-item {
	background-color: #FFFFE7!important;
}


.padding-0 {
	padding: 0;
}

.title {
	color: #552000;
}

.btn {
	height: 50px;
	width: 100px;
}

.btn-add {
	background-color: #08A242;
	color: white;
}

.btn-del {
	background-color: #C82F28;
	color: white;
}

.info {
	color: white;
}

.fixed-action-btn > a {
	background-color: #38251F!important;
}

.page-footer {
	background-color: #BC804A!important;
}

.footer-copyright {
	background-color: #38251F!important;
}

